body
{
	box-sizing: border-box;
	padding:0px;
    margin:0px;
}
.registration
{    /*background-image: url('../Task/gradientback.jpg');*/
	background: -webkit-linear-gradient(left, #0BA, #00c6ff);
	margin-top: 3%;
	padding: 3%;
}
.registration-left
{
	text-align: center;
	color:#fff;
	margin-top:4%;
}
.registration-left input
{
	border: none;
	border-radius:1.5rem;
	padding:2%;
	width:60%;
	background: #f8f9fa;
	font-weight:bold;
	color:#383d41;
	margin-top:30%;
	margin-bottom:3%;
	cursor:pointer;
}
.registration-right
{
	background:#f8f9fa;
	border-top-left-radius:10% 50%;
	border-bottom-left-radius:10% 50%;	
}
.register-left img
{
	margin-top:15%;
	margin-bottom:5%;
	width:25%;
	-webkit-animation:mover 2s infinite alternate;
	animation:mover 1s infinite alternate;
}

@-webkit-keyframes mover
{
	0% { transform: translateY(0); }
	100% { transform: translateY(-20px); }
}
@keyframes mover
{
	0% { transform: translateY(0); }
	100% { transform: translateY(-20px); }
}
.registration-left p
{
	font-weight:lighter;
	padding:12%;
	margin-top:-9%;
}
.register,.register-form
{
	padding:10%;
	margin-top:10%;
}
.btn_registration
{
	float:right;
	margin-top:10%;
	border:none;
	border-radius:1.5rem;
	padding:2%;
	background: #0062cc;
	color: #fff;
	font-weight: 600;
	width:100%;
	cursor:pointer;
	
}
.register,.nav-tabs
{
	margin-top:3%;
	border:none;
	border-radius:1.5rem;
	background:#0062cc;
	width:28%;
	float:right;
}
.register,.nav-link
{
	padding:2%;
	height:34px;
	font-weight:600;
	color:#fff;
	border-top-right-radius:1.5rem !important;
	border-bottom-right-radius:1.5rem;
}
.register,.nav-tabs,.nav-link:hover
{
	border:none;
}
.nav-tabs
{	height:34px;
	font-weight:600;
	color:#0062cc;
	border:2px solid #0062cc;
	border-top-left-radius:1.5rem;
	border-bottom-left-radius:1.5rem;
	border-top-right-radius:1.5rem !important;
	border-bottom-right-radius:1.5rem;
}
 .register,.nav-link.active
{	width:100px;
	color:#0062cc;
	border:2px solid #0062cc;
	border-top-left-radius:1.5rem;
	border-bottom-left-radius:1.5rem;
}
.register-heading
{
	text-align:center;
	margin-top:8%;
	margin-bottom:-15%;
	color:495057;
}
.br-15{
   	border-radius: 15px 0 0 15px !important;
   }
   /* Custom styling for the overlay */
.overlay {
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 999; /* Ensure it's above other elements, but below the toast */
}
.highlight {
	
	background-color: white;
    color: Black;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
	border: 2px solid steelblue; /*black*/
	position: relative;
	z-index: 9999;

}