
.fontBlue {
    color: Blue;
    cursor: pointer;
}

.circleQueryCountRed {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    color: Yellow;
    text-align: center;
    background: Red;
}

.circleQueryCountGreen {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    color: Yellow;
    text-align: center;
    background: Green;
}

.YellowIcon {
    color: Yellow;
}

.GreenIcon {
    color: Green;
}

label {
    margin-bottom: 10px;
}
