.table1 > tbody > tr > td {
    border: none;
}

.table {
    border: none;
}

.table-bordered {
    border-color: transparent;
}

.table-bordered-top {
}

.table-bordered-bottom {
    border-top: 1px solid #ced4da;
}

.Lockdata {
    height: 20px;
}

.style1 {
    width: 100%;
    margin-right: 142px;
}

.style2 {
    width: 540px;
    background-color: #E98454;
}

.table-bordered > tbody > tr > td {
    border: none;
}

.table-bordered {
    border-color: transparent;
}

.fontbold {
    font-weight: bold;
}

.inpputchkCriticalDP {
    outline: 2px #c00 solid;
    outline-offset: -2px;
}