<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="20.1.0" targetFramework="net472" />
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net472" />
  <package id="ClosedXML" version="0.95.0" targetFramework="net472" />
  <package id="DiffPlex" version="1.4.3" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.19.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.0.2" targetFramework="net472" />
  <package id="EAGetMail" version="4.6.5.1" targetFramework="net40" requireReinstallation="true" />
  <package id="EPPlus.Interfaces" version="7.6.1" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="7.6.1" targetFramework="net472" />
  <package id="ExcelDataReader" version="3.6.0" targetFramework="net40" requireReinstallation="true" />
  <package id="ExcelDataReader.DataSet" version="3.6.0" targetFramework="net40" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net472" />
  <package id="ExchangeAPI" version="1.536.1639" targetFramework="net40" />
  <package id="Google.Protobuf" version="3.23.0" targetFramework="net472" />
  <package id="Grpc" version="2.46.6" targetFramework="net472" />
  <package id="Grpc.Core" version="2.46.6" targetFramework="net472" />
  <package id="Grpc.Core.Api" version="2.53.0" targetFramework="net472" />
  <package id="Grpc.Net.Client" version="2.53.0" targetFramework="net472" />
  <package id="Grpc.Net.Common" version="2.53.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.72" targetFramework="net472" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net472" />
  <package id="IronPdf.Native.Chrome.Windows" version="2022.1.4593" targetFramework="net472" />
  <package id="IronPdf.Slim" version="2022.1.4599" targetFramework="net472" />
  <package id="Irony.NetCore" version="1.0.11" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net40" />
  <package id="jQuery" version="1.7" targetFramework="net40" />
  <package id="jQuery.Tooltipster" version="3.3.0" targetFramework="net40" />
  <package id="Mail.dll" version="3.0.19029.1200" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.AspNet.SignalR" version="2.4.1" targetFramework="net40" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Json" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net472" />
  <package id="Microsoft.Report.Viewer" version="10.0.0.0" targetFramework="net40" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="150.1484.0" targetFramework="net40" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1484.0" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="14.0.314.76" targetFramework="net40" />
  <package id="Orchard.ToolTip" version="1.0.0" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="SixLabors.Fonts" version="1.0.0" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="2.1.6" targetFramework="net472" />
  <package id="SixLabors.ImageSharp.Drawing" version="1.0.0" targetFramework="net472" />
  <package id="Spire.Email" version="2.1.0" targetFramework="net40" requireReinstallation="true" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="9.0.1" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.Packaging" version="6.0.0" targetFramework="net472" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="XLParser" version="1.5.2" targetFramework="net472" />
</packages>