<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CTMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="mail.diagnosearch.com" port="587" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <connectionStrings>
    <add name="Import" connectionString="Data Source=INTERNET-SERVER;Initial Catalog=WAD_CHILD_GEMCOVAC_P1;Integrated Security=false;User ID=SA;Password=igate123@" providerName="System.Data.SqlClient" />
    <add name="PPTConnection" connectionString="Data Source=192.168.200.30;Initial Catalog=WAI_TEST;Integrated Security=false;User ID=SA;Password=Opus#Db@2019" providerName="System.Data.SqlClient" />
    <add name="MasterConnection_Off" connectionString="Data Source=.\SQLEXPRESS; AttachDbFilename=D:\SVN_NEW\WAD_Windows\WAD\Database\WAD_VPM_DUMMY_1.mdf; Integrated Security=false;Connect Timeout=30;User Instance=false" providerName="System.Data.SqlClient" />
    <add name="ChildConnection_Off" connectionString="Data Source=.\SQLEXPRESS; AttachDbFilename=D:\SVN_NEW\WAD_Windows\WAD\Database\WAD_MASTER_361_DUMMY_1.mdf; Integrated Security=false;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="CTMS_FU_ConString" connectionString="Data Source=SQL2008DBTEST;Initial Catalog=WAD_CHILD_MALARIA;User ID=SA;Password=Sql%2008#DbTest" providerName="System.Data.SqlClient" />
    <add name="WAD_CHILD_BIOITOLIZConnectionString" connectionString="Data Source=UATSERVER;Initial Catalog=WAD_CHILD_BIOITOLIZ;Persist Security Info=True;User ID=sa;Password=Sql%2008#DbTest" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">

      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <httpRuntime executionTimeout="600" maxRequestLength="1048576" requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <sessionState timeout="20" />
    <authentication mode="Forms">
      <forms timeout="20" />
    </authentication>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--<httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>-->
    <machineKey validationKey="67DE026A4EF6811F681D5FBDF71C81E4951B3FA1AB0CD99C38B816686DABD5309CEA4CCB25FD55E02D160C9BFB2BECFDED07109957236674B9A7A1651062C641" decryptionKey="209D093CC619999E2E9D51D42C189F1F5379982B75BC8E1B" validation="SHA1" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debugBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MyServiceName" behaviorConfiguration="debugBehavior" />
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceCTMS" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IService1" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IService_MM" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" useDefaultWebProxy="true" />
        <binding name="BasicHttpBinding_IServiceIWRS" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" useDefaultWebProxy="true" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IService_SAE" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://internet-server/WCF_CTMS/ServiceCTMS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceCTMS" contract="CTMS_WCF_Services.IServiceCTMS" name="BasicHttpBinding_IServiceCTMS" />
      <endpoint address="http://internet-server/WCF_MM/ServiceMM.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService_MM" contract="ServiceReference_MM.IService_MM" name="BasicHttpBinding_IService_MM" />
      <endpoint address="http://internet-server/WCF_IR/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference_IR.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://internet-server.icri.com/WCF_SAE/Service_SAE.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService_SAE" contract="ServiceReference_SAE.IService_SAE" name="WSHttpBinding_IService_SAE">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://internet-server/WAD_DEV_WCF/ServiceIWRS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceIWRS" contract="ServiceReference_IWRS.IServiceIWRS" name="BasicHttpBinding_IServiceIWRS" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="PROJECTID" value="362" />
    <add key="SMSAPIKEY" value="xJGaEIi/ic8-sTrMBtczNpiWWkrdU2XWEXsMifSfOY" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="819200000">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml.Framework" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.19.0.0" newVersion="2.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.72.0" newVersion="1.11.72.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CTMS.Properties.Settings>
      <setting name="CTMS_DM_DM" serializeAs="String">
        <value>https://localhost:44386/DM.asmx</value>
      </setting>
      <setting name="CTMS_IWRS_WAI_IWRS" serializeAs="String">
        <value>https://localhost:44386/IWRS.asmx</value>
      </setting>
      <setting name="CTMS_IWRS1_WAI_IWRS" serializeAs="String">
        <value>https://localhost:44386/IWRS.asmx</value>
      </setting>
    </CTMS.Properties.Settings>
  </applicationSettings>
</configuration>